body {
    margin: 0;
    background-color: #1d1d1d;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 0;
    text-align: center;
    border-bottom: 2px solid #ffffff;
}

.fixed-header nav ul {
    list-style: none;
    padding: 0;
}

.fixed-header nav li {
    display: inline;
    margin: 0 20px;
}

.fixed-header nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6em;
    padding: 8px 50px;
    border-radius: 5px;
    transition: color 0.5s;
}

.fixed-header nav a:hover {
    color: rgb(146, 50, 255);
}

.HomePage {
    background-image: url('../images/homepage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.NameHeader h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 8em;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
    margin: 10px 0;
    margin-bottom: 30px;
}

.NameText p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #d8d6d6;
    text-shadow: 4px 4px 12px rgb(0, 0, 0);
    text-align: center;
    margin: 10px 0;
}

.Links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.Links a {
    margin: 0 20px;
    display: inline-block;
}

.Links img {
    width: 40px;
    transition: transform 0.2s ease;
    display: block;
}

.Links img:hover {
    transform: scale(1.5);
}

.About {
    border-top: 5px solid #ffffff;
    padding-top: 50px;
}

.About h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
}

.AboutContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.AboutContent img {
    display: block;
}

.Headshot {
    width: 20%;
    border-radius: 1000%;
    border: 2px solid rgb(255, 136, 0);
}

.UTK {
    width: 25%;
}

.AboutContent p {
    max-width: 500px;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.6em;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    padding-left: 75px;
}

.AboutMore {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.AboutInfo,
.AboutSkills {
    flex: 0 0 40%;
    text-align: center;
}

.AboutInfo h2,
.AboutSkills h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-decoration: none;
}

.AboutInfo p {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    text-align: left;
    font-size: 1.25em;
    margin: 5px 0;
    line-height: 45px;
    margin-left: 46%;
    font-weight: bold;
}

.AboutInfo .label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.Skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -12px;
    margin-left: 70px;
}

.SkillName {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 1.25em;
    margin-right: 50px;
    width: 120px;
    text-align: left;
}

.ProgressBar {
    background-color: #ddd;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
    cursor: pointer;
    position: relative;
}

.Progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #055e08;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    transition: width 0.8s ease, background-color 0.3s ease;
}

.ProgressBar:hover .Progress {
    background-color: #0ea70e;
}

.Work {
    padding-top: 50px;
    background-color: #1d1d1d;
}

.Work h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
}

.Inteplast {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -20px;
}

.InteplastRole h2{
    font-family: 'Helvetica', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2.25em;
    text-decoration: none;
    text-align: left;
    margin-left: 450px;
    line-height: 50px;
}

.InteplastExtra h2 {
    font-family: 'Helvetica', sans-serif;
    color: rgb(179, 179, 179);
    font-size: 1.7em;
    text-decoration: none;
    text-align: left;
    margin-left: 450px;
    line-height: 30px;
}

.InteplastInfo img {
    margin-top: 60px;
    margin-left: 450px;
    border-radius: 1000px;
    width: 40%;
    transition: transform 0.3s ease-in-out;

}

.InteplastInfo img:hover {
    transform: scale(1.1);
}

.InteplastExperience p {
    font-family: 'Arial', sans-serif;
    font-size: 2.3em;
    color: white;
    margin-left: 150px;
    margin-top: 150px;
    border: 2px solid rgba(21,92,170,255);
    border-radius: 50px;
    max-width: 600px;
    padding: 20px;
    line-height: 40px;
}

.Projects {
    margin-top: 150px;
    padding-top: 50px;
    background-color: rgb(255, 197, 210);
}

.Projects h2 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;

}